@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}

/* variable css */
:root {
  --header-height: 3rem;

  /* colors */
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;
  --sample-color: yellow;

  /* fonts and typography */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.83rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margene */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* z-index  */
  --z-tooltip: 10;
  --z-fixed: 100;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 (var(--header-height));
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
ul {
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.section {
  padding: 1.5rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
.bd-container {
  max-width: 968px;
  width: calc(100%-3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.bd-grid {
  display: grid;
  gap: 1.2rem;
}

@media screen and (min-width: 660px) {
  body {
    margin: 3rem 0;
  }
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  .resume_left {
    background-color: var(--container-color-alt);
  }
  .resume_left,
  .resume_right {
    padding: 0 1.5rem;
  }
  .section-title,
  .profile_desc {
    text-align: initial;
  }
  .home_container {
    gap: 1.5rem;
  }
  .home_button {
    display: none;
  }
  .l_content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    place-items: center;
  }
}

@media screen and (max-width: 660px) {
  .download-pdf {
    display: none;
  }
}
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}
